/* DOCUMENTO CSS*/

/* COFIGURAÇÕES GERAIS */
html, body {
	height: 100%;
    margin: 0%;
	padding: 0%;
	background: #000000;
	color: #E5E5EA;
	font-size: 1rem;
	line-height: 1.5; 
	overflow-x: hidden;
	font-family: Satoshi-Variable, sans-serif;
}
a {
	text-decoration: none;
	color: #E5E5EA;
}

/* FORTMATAÇÃO DE TEXTO */
h1, h2, h3 {
	font-family: Montserrat-Variable, sans-serif;
}
h1 {
	font-size: 2rem; 
}

h2 {
	font-size: 1.75rem; 
}
h3 {
	font-size: 1.5rem; 
}

p, span{
	font-size: 1rem;
	line-height: 1.5;
	font-family: Satoshi-Variable, sans-serif;
	font-weight: 500;
}

/* CABEÇALHO */
header {
	margin: auto;
	margin-top: 0%;
	display: grid;
	place-items: center;
	background: #1C1C1EFF;
}

nav {
	margin: auto;
	margin-top: 0%;
	display: flex;
	flex-direction: row;
	min-width: 1000px;
	width: 1000px;
	max-width: 1000px;
	height
	: 50px;
}
.logo {
	margin: auto;
	margin-left: 0px;
	padding-left: 5px;
	display: flex;
	align-items: center;
	width: 250px;
	height: 100%;
	font-size: 1.5rem;
}

nav ul {
	margin: 0;
	float: right;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%; 
}

nav li a {
	margin: 0 20px;
	padding: 0 5px;
	height: 50px;
}

.exept a{
	color: #FFFFFF;
	background: #007AFF;
	padding: 10px;
	border-radius: 5px;
	margin: 0 0 0 20px;
}

/* BANNER "CATCH ATTENTION" + TÍTULO */
.banner {
	width: 100vw;
	margin-bottom: 25px;
	height: 845px;
	background-image: url('Design/Images/LandingPage/ldb.png');
    background-size: cover;
    background-position: left;
	background-attachment: fixed;
}
.banner h1 {
	font-size: 3rem;
	color: #FFFFFF;
}

.banner-content {
	display: grid;
	place-items: center;
	margin: auto;
	gap: 0px;
	width: 60%;
    height: 100%;
    padding: 0 20px; 
	float: left;
    box-sizing: border-box;
}

/* CONTEÚDO DA LANDING PAGE */
main {
	min-width: 100vw;
	min-height: 100vh;
}

.content {
	margin: auto;
	min-width: 1000px;
	width: 1000px;
	max-width: 1000px;
	min-height: 100vh;
	text-align: center;
}

section {
	text-align: justify;
	display: flex;
	align-items: center;
	justify-content: center;
}

.BTCintro a{
	color: #007AFF;
	text-decoration: underline;
}
.BTCintro img {
	border-radius: 20px;
	height: 550px;
	margin-right: 20px;
}

@media (min-width: 800px;) {
	
}