/* COFIGURAÇÕES GERAIS */
html, body {
	height: 100%;
	background: #000000;
    margin: 0%;
    padding: 0%;
	color: #E5E5EA;
	font-size: 1rem;
	line-height: 1.5; 
	overflow-x: hidden;
	overflow-y: auto;
	font-family: Satoshi-Variable, sans-serif;
}
a {
	text-decoration: none;
	color: #007AFF; 
}

/* FORTMATAÇÃO DE TEXTO */
h1, h2, h3 {
	font-family: Montserrat-Variable, sans-serif;
}
h1 {
	font-size: 2rem; 
}

h2 {
	font-size: 1.75rem; 
}
h3 {
	font-size: 1.5rem; 
}
p, span, a, label {
	font-size: 1rem;
	line-height: 1.5;
	font-family: Satoshi-Variable, sans-serif;
	font-weight: 500;
}

/* CONTEUDO */
body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.banner {
    float: left;
    height: 100vh;
    width: 65vw;
    background-image: url('../Design/Images/LogIn/cadastro.png');
    background-size: cover;
    background-position: left;
}
.banner section {
    height: 100%;
    width: 100%;
  /*  background-color: rgba(28, 28, 30, 0.1); */
}
main {
    float: right;
    height: 100vh;
    width: 35vw;
    background-color: #000;
    padding: 0px 40px;
    display: flex;
    align-items: center;

}
.formCadastro {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 400px;
    max-width: 500px;
}

.formCadastro a {
    margin-top: 10px;
    font-size: 1rem;
}

.formCadastro a:hover {
    text-decoration: underline;
}


.formCadastro input {
    padding: 15px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.btn {
    width: 210px;
    background-color: #007AFF ;
	font-family: Montserrat-Variable, sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    transition: all linear 200ms ;
    cursor: pointer ;
	color: #E5E5EA;
}

.btn:hover {
    background-color: #E5E5EA ;
    color: #007AFF;
}

@keyframes input-success {
    0% {
    transform: scale(1);
    }
    50% {
    transform: scale(1.1);
    }
    100% {
    transform: scale(1);
    }
}
