/* COFIGURAÇÕES GERAIS */
html, body {
	height: 100%;
	background: #000000;
    margin: 0%;
    padding: 0%;
	color: #E5E5EA;
	font-size: 1rem;
	line-height: 1.5; 
	overflow-x: hidden;
	font-family: Satoshi-Variable, sans-serif;
}
a {
	text-decoration: none;
	color: #E5E5EA;
}

/* FORTMATAÇÃO DE TEXTO */
h1, h2, h3 {
	font-family: Montserrat-Variable, sans-serif;
}
h1 {
	font-size: 2rem; 
}

h2 {
	font-size: 1.75rem; 
}
h3 {
	font-size: 1.5rem; 
}

p, span{
	font-size: 1rem;
	line-height: 1.5;
	font-family: Satoshi-Variable, sans-serif;
	font-weight: 500;
}

/* CONTEUDO */
main {
    float: right;
    height: 100vh;
    background-color: #FFFFFF;
    padding: 40px;
}

.formLogin {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.container-input2 {
    display: flex;
    align-items: center;
}

.areaLogin img {
    width: 420px;
}

.input-field {
    width: 100%;
    box-sizing: border-box;
}


.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}

.formLogin input:focus {
    border: 1px solid #ffa51e;
    transition: box-shadow 0.3s ease;
}

.input-field:focus, .input-field:valid, .input-field:invalid {
    border-color: #ccc;
}

.input-field:focus, .input-field:valid {
    animation: input-succes 0.5s; /*só adicionar mais um "s" para formar a plavra "success" certinho para ter um efeito de expansão*/
}


.input-field:focus, .input-field:valid {
    box-shadow: 0 0 5px #ffa51e;
}


.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #ff9900;
}

.show-password-toggle {
    position: relative;
}

.show-password-toggle input[type="password"] {
    padding-right: 30px;
}

.show-password-toggle .show-password-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-90%);
    cursor: pointer;
}

.btn {
    background-color: #ffa51e !important;
    color: #fff !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    border: none !important;
    transition: all linear 160ms !important;
    cursor: pointer !important;
    margin: 0 !important;

}

.btn:hover {
    background-color: #db8708 !important;
}

@keyframes input-success {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}