@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    background-color: #282829;
}

.formRecuperarSenha{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px;
}

.areaRecuperarSenha img {
    width: 420px;
}

.formRecuperarSenha h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formRecuperarSenha p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.input-field {
    width: 100%;
    box-sizing: border-box;
}

.formRecuperarSenha input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}

.formRecuperarSenha input:focus {
    border: 1px solid #ffa51e;
    transition: box-shadow 0.3s ease;
}

.input-field:focus, .input-field:valid, .input-field:invalid {
    border-color: #ccc;
}

.input-field:focus, .input-field:valid {
    animation: input-succes 0.5s; /*só adicionar mais um "s" para formar a plavra "success" certinho para ter um efeito de expansão*/
}


.input-field:focus, .input-field:valid {
    box-shadow: 0 0 5px #ffa51e;
}

.formRecuperarSenha label {
    font-size: 14px;
    font-weight: 600;
}

.formRecuperarSenha a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formRecuperarSenha a:hover {
    color: #ff9900;
}

.show-password-toggle {
    position: relative;
}

.show-password-toggle input[type="password"] {
    padding-right: 30px;
}

.show-password-toggle .show-password-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-90%);
    cursor: pointer;
}

.btn {
    background-color: #ffa51e;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #db8708;
}

@keyframes input-success {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}

@media screen and (max-width: 600px) {
    .formRecuperarSenha{
        min-height: 400px;
        max-width: 60%;
    }
}