*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-decoration: none;
    background-color: #252A34;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.faqbox{
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 20px 24px;
    background-color: #ffffff;
    width: 600px;
    max-width: 650px;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 540px;
    padding: 20px 24px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

h4{
    margin: 0px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.235;
    letter-spacing: 0.00735em;
}

.textp{
    margin: 0px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    margin-top: 20px;
}

.outside{
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    position: relative;
    transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow-anchor: none;
    border-radius: 0px;
    margin-top: 10px;
}

.outside::before{
    position: absolute;
    left: 0px;
    top: -1px;
    right: 0px;
    height: 1px;
    content: "";
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.12);
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.outinside{
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    background-color: transparent;
    outline: 0px;
    border: 0px none;
    margin: 0px;
    border-radius: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    color: inherit;
    display: flex;
    min-height: 48px;
    padding: 0px 16px;
    transition: min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.textoutside{
    display: flex;
    -moz-box-flex: 1;
    flex-grow: 1;
    margin: 12px 0px;
}

.poutside{
    margin: 0px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.icon{
    display: flex;
    color: rgba(0, 0, 0, 0.54);
    transform: rotate(180deg);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.icon.expanded{
    transform: rotate(0deg);
}

i{
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.textinside{
    height: auto;
    overflow: visible;
    min-height: 0px;
}

.textinside1{
    display: flex;
    width: 100%;
}

.textinside2{
    width: 100%;
}

.textinside4{
    padding: 8px 16px 16px;
}

.textinside5{
    margin: 0px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}

