html, body {
	height: 100%;
    margin: 0%;
	padding: 0%;
    display: grid;
    place-items: center;
	overflow-x: hidden;
    background: #000000;
	font-family: Satoshi-Variable, sans-serif;
    color: #E5E5EA;
	font-size: 1rem;
	line-height: 1.5;
}
a {
	text-decoration: none;
	color: #007AFF;
}

/* FORTMATAÇÃO DE TEXTO */
h1, h2, h3 {
	font-family: Montserrat-Variable, sans-serif;
}
h1 {
	font-size: 2rem; 
}

h2 {
	font-size: 1.75rem; 
}
h3 {
	font-size: 1.5rem; 
}

p, span, label {
	font-size: 1rem;
	line-height: 1.5;
	font-family: Satoshi-Variable, sans-serif;
	font-weight: 500;
}

/* DOCK MENU */
#dock{
	position: fixed;
	left: 0px;
	color: #E5E5EA;
	padding: 20px;
	z-index: 999;
	margin: auto;
    display: grid;
	place-items: center;
}
.dock {
	background: rgba(34, 34, 34, 0.80);
	border: solid 1px #333;
	margin: 0px;
	overflow: auto;
	padding: 0px;
	border-radius: 2rem;
}
.dock ul {
	scroll-snap-type: x mandatory;
	display: flex;
    flex-direction: column;
	gap: 1.5rem;
	margin: 0px;
	padding: 1rem;
	scroll-padding: 1rem;
}
.dock li {
	display: grid;
	place-items: center;
}
.mercado-status {
    width: 100%;
    border-radius: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.status-box {
    width: 50%;
    min-width: auto;
    color: white;
    background-color: #FF6961;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
}
.status-header {
    text-align: center;
    margin-bottom: 10px;
}
.status-markets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    margin-top: 20px; 
}
.empty-space {
    height: 20px; 
}
.market-row {
    display: flex;
    justify-content: center;
    gap: 30px;
    height: auto;
    min-height: 200px;
    width: 100%;
}

.market-block {
    background-color: rgba(34, 34, 34, 0.80);
    border-radius: 40px;
    color: #FFFFFF;
    height: auto;
    border: solid 1px #333;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: .3s ease;
    width: calc(25% - 10px);
}
.market-block:hover{
    transform: scale(1.2);
    background-color: white;
    color: black;
    cursor: pointer;
    .expiration{
        background-color: chartreuse;
        border: 2px solid black;
    }
}
.expiration {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}
.pagination {
    text-align: center;
    margin-top: 20px;
    background-color: #424A53;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease;
}
.pagination:hover{
    transform: scale(1.2) rotate(8deg);
}
.pagination a{
    text-decoration: none;
}
.pagination a:visited {
    color: white;
}
.pagination a:active{
    color: white;
}
.conteudo-centralizado {
    margin-left: 120px; /* Largura do menu lateral */
    width: calc(100% - 120px); /* Largura total menos a largura do menu lateral */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
