/* INICIO CSS*/
html, body {
	height: 100%;
    width: 100%;
    margin: 0%;
	padding: 0%;
    display: grid;
    place-items: center;
	overflow-x: hidden;
    background: #000000;
	font-family: Satoshi-Variable, sans-serif;
    color: #E5E5EA;
	font-size: 1rem;
	line-height: 1.5;
}
a {
	text-decoration: none;
	color: #007AFF;
}

/* FORTMATAÇÃO DE TEXTO */
h1, h2, h3 {
	font-family: Montserrat-Variable, sans-serif;
}
h1 {
	font-size: 2rem; 
}

h2 {
	font-size: 1.75rem; 
}
h3 {
	font-size: 1.5rem; 
}

p, span, label {
	font-size: 1rem;
	line-height: 1.5;
	font-family: Satoshi-Variable, sans-serif;
	font-weight: 500;
}

/* DOCK MENU */
#dock{
	position: fixed;
	left: 20px;
	color: #E5E5EA;
	z-index: 999;
	margin: auto;
}
.dock {
	background: rgba(34, 34, 34, 0.80);
	border: solid 1px #333;
	margin: 0px;
	overflow: auto;
	padding: 0px;
	border-radius: 2rem;
}
.dock ul {
	scroll-snap-type: x mandatory;
	display: flex;
    flex-direction: column;
	gap: 1.5rem;
	margin: 0px;
	padding: 1rem;
	scroll-padding: 1rem;
}
.dock li {
	display: grid;
	place-items: center;
}

/* MERCADO */
.mercado-status {
    display: flex;
    justify-content: center;
    align-items: center;
}
.status-box {
    width: 300px;
    height: 125px;
    position: absolute;
    top: 0px;
    background-color: #FF6961;
    border-radius: 0px 0px 30px 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}
.market-row {
    display: grid;
    place-items: center;
	grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.market-block {
    margin: auto;
    width: 225px;
    border-radius: 2rem;
	background-color: #1C1C1EFF;
    border: solid 1px #333;
    padding: 0px 5px;
    text-align: justify;
    cursor: pointer;
}
.DDD{
    position: absolute;
    top: 10px;
    left: 10px;
}

@media (max-height: 750px) {
    .market-row{
        grid-template-columns: repeat(3, 1fr);
    }
}