*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom{
    background-color: #000;

    display: grid;
    place-items: center;
}

body {
    background-color: #000;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: grid;
    place-items: center;
}


.criar{
    color: #ffffff;
    min-width: 200px;
    height: 500px;
    overflow: hidden;
    border-radius: 15px;
    margin: auto;
}

.btn{
    background-color: #34C848 !important;
    color: #fff !important;
    margin: 15px 0px 0px 15px; 
    min-width: 25% !important;
}

.btn:hover{
    background-color: #1d7929 !important;
}

.verde{
    background-color: #34C848 !important;
    color: #fff !important;
    
}

.verde:hover{
    background-color: #1d7929 !important;
}

.vermelho{
    background-color: #FF6961 !important;
    color: #fff !important;
    
}

.vermelho:hover{
    background-color: #b14944 !important;
}

.dropdown-menu{
    background: none !important;
    border-radius: 15px !important;
    min-width: 25% !important;
    padding: 0 !important;
}

.brasilf{
    height: 28px;
    margin-right: 5px;
}

.divzinha{
    background-color: #3498DB !important;
    border-color: #3498DB !important;
    color: #ffffff !important;
    text-align: center !important;
    display: flex;
    align-items: center;
    width: 80px !important;
    height: auto;
    justify-content: center;
    
}

.divzinha p{
    margin: 0 !important;
}

.container1 p{
    text-align: center;
}

.form-control{
    max-width: 250px !important;
}

.botão{
    text-decoration: none;
    background-color: #14A2DF;
    color: #ffffff;
    padding: 10px;
    border-radius: 12px;
    min-width: 150px;
    border: none !important;
}

.botão:hover{
    background-color: #1595cc;
}

.divbotão{
    display: flex;
    justify-content: center;
    text-align: center;
}

.divbotão b{
    font-size: 20px;
}

.p1{
    font-size: 12px;
    margin-top: 12px;
}

.botão2{
    border: transparent;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background-color: #ff5a51;
    color: #ffffff;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 20px; 
    cursor: pointer;
    font-size: 30px;
}

.botão2:hover{
    background-color: #da4f47;
}

/* DOCK MENU */
#dock{
	position: fixed;
	left: 0px;
	color: #E5E5EA;
	padding-left: 20px;
	z-index: 999;
	margin: auto;
    display: grid;
	place-items: center;
}
.dock {
	background: rgba(34, 34, 34, 0.80);
	border: solid 1px #333;
	margin: 0px;
	overflow: auto;
	padding: 0px;
	border-radius: 2rem;
}
.dock ul {
	scroll-snap-type: x mandatory;
	display: flex;
    flex-direction: column;
	gap: 1.5rem;
	margin: 0px;
	padding: 1rem;
	scroll-padding: 1rem;
}
.dock li {
	display: grid;
	place-items: center;
}