.criar{
    color: #E5E5EA;
    width: 450px;
    height: 550px;
    background-color: #1C1C1EFF;
	border: solid 1px #333;
    overflow: hidden;
    border-radius: 15px;
    margin: 0px;
}

.btn{
    background-color: #333 !important;
    width: 100px;
    height: 40px;
    color: #E5E5EA !important;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: -1px;
    border: 0px solid;
    border-radius: 5px !important;
}

.btn:focus {
    border-end-start-radius: 0px !important;
    border-end-end-radius: 0px !important;
}

.verde{
    background-color: #34C848 !important;
    height: 40px;
    color: #fff !important;
    margin-bottom: -1px;
    border: 0px solid;
    margin-left: 15px;
    width: 100px !important;
}

.verde:hover{
    background-color: #1d7929 !important;
}

.vermelho{
    background-color: #FF6961 !important;
    height: 40px;
    color: #fff !important;
    margin-bottom: -1px;
    border: 0px solid;
    margin-left: 15px;
    width: 100px !important;
    border-radius: 0px 0px 5px 5px !important;
}

.vermelho.active {
    border-radius: 5px !important;
}

.dropdown-menu{
    background: none !important;
    border: none !important;
    min-width: 25% !important;
    margin: 0px !important;
    padding: 0px !important;
}

.brasilf{
    height: 28px;
    margin-right: 5px;
}

.divzinha{
    background-color: #3498DB !important;
    border-color: #3498DB !important;
    color: #E5E5EA !important;
    text-align: center !important;
    display: flex;
    align-items: center;
    width: 80px !important;
    height: auto;
    justify-content: center;
    
}

.divzinha p{
    margin: auto !important;
    font-weight: bolder !important;
}

.container1 p{
    text-align: center !important;
}

.form-control{
    max-width: 250px !important;
}

.botão{
    text-decoration: none;
    background-color: #14A2DF;
    color: #E5E5EA;
    padding: 10px;
    border-radius: 5px;
    min-width: 150px;
    border: none !important;
}

.botão:hover{
    background-color: #1595cc;
}

.divbotão{
    display: flex;
    justify-content: center;
    text-align: center;
}