*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom{
    background-color: #28292b;
}

body {
    background-color: #28292b;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.caixazona{
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
}

.lateralbox{
    height: 70vh;
    display: flex;
    width: 8%;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.menu-lateral {
    display: flex;
    width: 120px;
    height: auto;
    position: absolute;
    position: fixed;
    top: 30%;
    left: 4%;
    overflow: hidden;
    background-color: #424A53; 
    border-radius: 25px;
    padding: 20px 0;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.menu-lateral ul {
    list-style: none;
    padding: 0;
}

.menu-lateral li {
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.menu-lateral a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 18px;
    position: relative;
}

.menu-lateral i {
    font-size: 35px;
    transform: 0.3s;
}

.menu-item:hover i {
    transform: scale(1.2); 
}

.menu-item.active i {
    transform: scale(1.2); 
}

.menu-item span {
    display: none; 
}

.menu-item.active span {
    display: block; 
}


.criar{
    background-color: rgb(96, 96, 96);
    color: #ffffff;
    width: auto;
    min-width: 35%;
    height: auto;
    min-height: 80vh;
    overflow: hidden;
    border-radius: 15px;
    margin: auto;
}

.btn{
    background-color: #34C848 !important;
    color: #fff !important;
    margin: 15px 0px 0px 15px; 
    min-width: 25% !important;
}

.btn:hover{
    background-color: #1d7929 !important;
}

.verde{
    background-color: #34C848 !important;
    color: #fff !important;
    
}

.verde:hover{
    background-color: #1d7929 !important;
}

.vermelho{
    background-color: #FF6961 !important;
    color: #fff !important;
    
}

.vermelho:hover{
    background-color: #b14944 !important;
}

.dropdown-menu{
    background: none !important;
    border-radius: 15px !important;
    min-width: 25% !important;
    padding: 0 !important;
}

.brasilf{
    height: 28px;
    margin-right: 5px;
}

.divzinha{
    background-color: #3498DB !important;
    border-color: #3498DB !important;
    color: #ffffff !important;
    text-align: center !important;
    display: flex;
    align-items: center;
    width: 80px !important;
    height: auto;
    justify-content: center;
    
}

.divzinha p{
    margin: 0 !important;
}

.container1 p{
    text-align: center;
}

.form-control{
    max-width: 250px !important;
}

.botão{
    text-decoration: none;
    background-color: #14A2DF;
    color: #ffffff;
    padding: 10px;
    border-radius: 12px;
    min-width: 150px;
}

.botão:hover{
    background-color: #1595cc;
}

.divbotão{
    display: flex;
    justify-content: center;
    text-align: center;
}

.divbotão b{
    font-size: 20px;
}

.p1{
    font-size: 12px;
    margin-top: 12px;
}

.botão2{
    border: transparent;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background-color: #ff5a51;
    color: #ffffff;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 20px; 
    cursor: pointer;
    font-size: 30px;
}

.botão2:hover{
    background-color: #da4f47;
}