/* INICIO CSS*/
html, body {
	height: 100%;
    margin: 0%;
	padding: 0%;
    display: grid;
    place-items: center;
	overflow-x: hidden;
    background: #000000;
	font-family: Satoshi-Variable, sans-serif;
    color: #E5E5EA;
	font-size: 1rem;
	line-height: 1.5;
}
a {
	text-decoration: none;
	color: #007AFF;
}

/* FORTMATAÇÃO DE TEXTO */
h1, h2, h3 {
	font-family: Montserrat-Variable, sans-serif;
}
h1 {
	font-size: 2rem; 
}

h2 {
	font-size: 1.75rem; 
}
h3 {
	font-size: 1.5rem; 
}

p, span, label {
	font-size: 1rem;
	line-height: 1.5;
	font-family: Satoshi-Variable, sans-serif;
	font-weight: 500;
}

/* DOCK MENU */
#dock{
	position: fixed;
	left: 0px;
	color: #E5E5EA;
	padding: 20px;
	z-index: 999;
	margin: auto;
    display: grid;
	place-items: center;
}
.dock {
	background: rgba(34, 34, 34, 0.80);
	border: solid 1px #333;
	margin: 0px;
	overflow: auto;
	padding: 0px;
	border-radius: 2rem;
}
.dock ul {
	scroll-snap-type: x mandatory;
	display: flex;
    flex-direction: column;
	gap: 1.5rem;
	margin: 0px;
	padding: 1rem;
	scroll-padding: 1rem;
}
.dock li {
	display: grid;
	place-items: center;
}

/* INFORMAÇÕES DA CONTA */
main {
    min-height: 100vh;
	text-align: center;
	display: grid;
	place-items: center;
}
main h1{
	top: 0px;
	margin-top: 20px;
	position: fixed;
}
section{
	background-color: #1C1C1EFF;
	border: solid 1px #333;
	min-height: 500px;
	width: 350px;
	border-radius: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.show_username {
	margin: auto;
}
.show_username span {
	color: #007AFF;
	background: #333;
	border-radius: 7.5px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%z;
	height: 30px;
}
main section h3 {
	text-align: center;
	margin-top: 10px;
}
main section div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: auto;
	width: 250px;
	gap: 10px;
}
section img {
	height: 50px;
}
#logingOUT {
	display: flex;
	align-items: center;
	color: #E5E5EA;
	border-radius: 1rem;
	padding: 0.5rem;
	float: left;
	margin: 0 0 10px 10px;
	background: rgba(255, 69, 58, 0.5);
	width: fit-content;
}
#logingOUT span {
	margin-left: 10px;
}