body{
    background-color: #252A34;
}
.tudo{
    height: auto;
}
.gradient{
    width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px;
}
.largura{
    width: 97.85%;
    height: auto;
    background-color: #252A34;
    padding: 20px;
    color: white;
    margin-bottom: 2%;
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 36px;
}
.menu-lateral {
    display: flex;
    width: 6%;
    height: auto;
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    position: absolute;
    position: fixed;
    top: 30%;
    border: 4px solid black;
    left: 4%;
    overflow: hidden;
    background-color: #E67E22; 
    border-radius: 25px;
    padding: 20px 0;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.menu-lateral ul {
    list-style: none;
    padding: 0;
}

.menu-lateral li {
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.menu-lateral a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 18px;
    position: relative;
}

.menu-lateral i {
    font-size: 35px;
    transform: 0.3s;
}

.menu-item:hover i {
    transform: scale(1.2); 
}

.menu-item.active i {
    transform: scale(1.2); 
}

.menu-item span {
    display: none; 
}

.menu-item.active span {
    display: block; 
}
.caixazona{
    height: auto;
    background-color: #252A34;
    padding: 20px;
    width: 90vw;
    display: flex;
}
.caixazonadireita{
    width: 90%;
    position: relative;
    left: 16.5%;
    display: flex;
    justify-content: space-around;
    height: auto;

    min-height: 80vh;
}
.detalhescontainer{
    height: auto;
    margin-left: 1%;
    margin-bottom: 1%;
    flex-wrap: wrap;
    min-height: 100%;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    min-width: 37%;
    justify-content: space-evenly;
    width: auto;
    overflow: hidden;
    border-radius: 30px;
    background-color: rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
}
.ordens{
    height: auto;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    margin-left: 1%;
    margin-bottom: 1%;
    flex-wrap: wrap;
    padding: 15px;
    min-height: 100%;
    min-width: 37%;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    border-radius: 30px;
    background-color: #e47c22;
    display: flex;
    flex-direction: column;
}
.texto{
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.texto2{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.centro{
    display: flex;
    font-family: Montserrat;
    color: white;
    flex-wrap: wrap;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.centro2{
    display: flex;
    font-family: Montserrat;
    color: white;
    font-size: 15px;
    margin: 5%;
    text-align: center;
    align-items: center;
}
label {
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-right: 10px; 
}
#userID, #publicName {
    background-color: rgb(240, 240, 240);
    color: black;
    font-size: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.segundobloco{
    height: auto;
    margin-right: 20%;
    overflow: hidden;
    margin-bottom: 1%;
    border: 4px solid black;
    flex-wrap: wrap;
    width: auto;
    min-width: 37%;
    flex-direction: column;
    border-radius: 30px;
    display: inline-block;
}
.setor{
    background-color: rgb(255, 255, 255);
    height: auto;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 25px;
    padding: 10px;
}
input[type="text"]{
    width: 220px;
    max-width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

input[type="text"]:focus{
    outline: none;
}


input[type="password"]{
    width: 220px;
    max-width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

input[type="password"]:focus{
    outline: none;
}

input[type="password"]:-moz-placeholder{
    background-color: #9a6ffd;
}
input[type="submit"]{
    background-color: black;
    color: white;
    border-radius: 12px;
    border: 2px solid white;
    transition: .3s ease;
    padding: 5px;
    font-family: montserrat;
}
input[type="submit"]:hover{
    transform: scale(1.1);
    cursor: pointer;
    border: 2px solid black;
    background-color: white;
    color: black;   
}
.blocoterceiro{
    width: 60%;
    height: auto;
    display: flex;
    border: 4px solid black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffc400;
    border-radius: 25px;
}

@media (max-width: 768px) {
    .largura {
        font-size: 24px; 
    }

}
@media (max-width: 850px) {
    .texto {
        font-size: 16px; 
    }
}
/* ----------------------------------------------
 * Generated by Animista on 2023-10-25 20:5:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  /* ----------------------------------------------
 * Generated by Animista on 2023-10-25 20:44:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
