/* INICIO CSS*/
html, body {
	height: 100%;
    margin: 0%;
	padding: 0%;
    display: grid;
    place-items: center;
	overflow-x: hidden;
	overflow-y: auto;
    background: #000000;
	font-family: Satoshi-Variable, sans-serif;
    color: #E5E5EA;
	font-size: 1rem;
	line-height: 1.5;
}
a {
	text-decoration: none;
	color: #007AFF;
}

/* FORTMATAÇÃO DE TEXTO */
h1, h2, h3 {
	font-family: Montserrat-Variable, sans-serif;
}
h1 {
	font-size: 2rem; 
}
h2 {
	font-size: 1.75rem; 
}
h3 {
	font-size: 1.5rem; 
}
p, span, label {
	font-size: 1rem;
	line-height: 1.5;
	font-family: Satoshi-Variable, sans-serif;
	font-weight: 500;
}

/* DOCK MENU */
#dock{
	position: fixed;
	left: 0px;
	color: #E5E5EA;
	padding: 20px;
	z-index: 999;
	margin: auto;
    display: grid;
	place-items: center;
}
.dock {
	background: rgba(34, 34, 34, 0.80);
	border: solid 1px #333;
	margin: 0px;
	overflow: auto;
	padding: 0px;
	border-radius: 2rem;
}
.dock ul {
	scroll-snap-type: x mandatory;
	display: flex;
    flex-direction: column;
	gap: 1.5rem;
	margin: 0px;
	padding: 1rem;
	scroll-padding: 1rem;
}
.dock li {
	display: grid;
	place-items: center;
}

/* INFORMAÇÕES DA SUAS ORDENS */
.ordens{
    margin: auto;
    border-radius: 1rem;
    margin-top: 50px;
    display: grid;
	grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    gap: 15px;
}
.caixaordens{
    width: 200px;
    height: 200px;
    display: flex;
    padding: 5px;
    flex-direction: column;
    background-color: #333;
    border-radius: 1rem;
    justify-content: space-evenly;
}
.ordensbutton {
    padding: 0.5rem;
        margin-top: 0%;
        border-radius: 1rem;
        cursor: pointer;
    }

    .compra {
        background-color: #34C848; /* Verde para ordens de compra */
    }

    .venda {
        background-color: #E74C3C; /* Vermelho para ordens de venda */
    }

.botão2 {
    background-color: #ff0000; /* Cor de fundo padrão para o botão */
    border: none; /* Cor da borda padrão para o botão */
    display: inline-block;
    border-radius: 1rem;
    max-width: 100%;
    padding: 0.5rem;
    cursor: pointer;
    text-align: center;
    color: #fff;
}

.tempo{
    border-radius: 50%;
    background-color: #34C848;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}
.texto{
    font-weight: bold;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.texto2{
    font-weight: bold;
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.centro{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.centro2{
    display: flex;
    margin: 5%;
    text-align: center;
    align-items: center;
}
#userID, #publicName {
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.segundobloco{
    height: auto;
    margin-right: 20%;
    overflow: hidden;
    margin-bottom: 1%;
    border: 4px solid black;
    flex-wrap: wrap;
    width: auto;
    min-width: 37%;
    flex-direction: column;
    border-radius: 30px;
    display: inline-block;
}
.setor{
    background-color: rgb(255, 255, 255);
    height: auto;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 25px;
    padding: 10px;
}
input[type="text"]{
    width: 220px;
    max-width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    background-color: black;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

input[type="text"]:focus{
    outline: none;
}


input[type="password"]{
    width: 220px;
    max-width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    background-color: black;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

input[type="password"]:focus{
    outline: none;
}

input[type="password"]:-moz-placeholder{
    background-color: #9a6ffd;
}
input[type="submit"]{
    background-color: black;
    border-radius: 12px;
    border: 2px solid white;
    transition: .3s ease;
    padding: 5px;
}
input[type="submit"]:hover{
    transform: scale(1.1);
    cursor: pointer;
    border: 2px solid black;
    background-color: white;
    color: black;   
}

@media (max-height: 750px) {
    .ordens{
        grid-template-columns: repeat(3, 1fr);
    }
}